<body class="landing-page">
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to Talk About It!</h1>
      <h3>An app where you can converse with random people about whatever random thing you want</h3>
      <br> <br>
      <p><%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up!", new_user_registration_path %></p>
    </div>
  </div>
</body>
