body {
  background-color: #14bcdd;
}

/*======= Landing Page =======*/

body.landing-page {
  background-image: url("landing2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 200px;
  min-height: 350px;
  background-color: #7e7e7f;
  text-align: center;
}

.jumbotron a {
  color: #1d668a;
  margin: 0 10px;
  font-size: 30px;
}

/*======== Sign up and login pages =======*/

.signup_in {
  margin: 30%;
  padding-left: 10%;
  border: 2px solid grey;
  padding-bottom: 15px;
  background-color:white;
}

body#signup_in {
  background-color: #14bcdd;
}

/*======= Navbar =======*/
.navbar {
  background-color: #dcdcdc;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-right {
  margin-right: 5px;
}
p.navbar-brand {
  margin-right: 35px;
}

/*====== User home page =======*/

.welcomeuser {
  text-align:center;
  margin-top: 5%;
  font-size: 3em;
}

.userhome1 {
  text-align: center;
}

.userhome2 {
  clear:both;
  text-align: center;
}
.userhomecont {
  background-color: white;
  margin-top: 5%;
  min-height: 400px;
}

.link-btn1 {
  margin-left: 80px;
  margin-right: 5px;
  color: #14bcdd;
}

.link-btn {
  color: #14bcdd;
}

.link-title {
  color: #14bcdd;
  font-size: 30px;
}

/*======= Conversation show page =======*/
.messageformcontainer {
  margin-top: 5%;
  min-height:85vh;
  background-color: white;
}
.messageform {
  bottom: 10px;
  margin: 0 auto;
}

#messages {
  max-height: 60vh;
  overflow: scroll;
  text-align: left;
  padding: 30px 15px;
}
.indmessage {
  border: 1px solid black;
  list-style-type: none;
  margin: 15px 0;
  padding: 10px 0 15px 10px;
  word-wrap: break-word;
}

.messagedelete {
  float: right
}

.messageform form {
  margin-top: 5%;
  margin-left: 40%;
}

.messageform form input {
  border: 2px solid black;
  width: 300px;
  height: 35px;
}

/*====== New conversation form page =======*/

.convoform {
  margin-left: 40%;
  margin-top: 10%;
}

/*======= Conversations index page =========*/
.convoindex {
  background-color: white;
  margin-top: 10%;
  min-height: 40vh;
}

.convo {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
  text-decoration: underline;
  color: #337abd;
}

.convo p {
  font-size: 15px;
  text-decoration: none;
}

.messagecount {
  font-size: 15px;
}
