<!DOCTYPE html>
<html>
  <head>
    <title>ConversationApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav><h3>Chat app</h3></nav>
    <% end %>
    <%= yield %>
  </body>
</html>
